<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.web>
	</system.web>
	<system.webServer>
		<httpProtocol>
			<customHeaders>
				<add name="Content-Security-Policy" value="default-src 'self'; script-src 'self'; style-src 'self'; img-src 'self'; object-src 'none'; base-uri 'self'; form-action 'self';" />
			</customHeaders>
		</httpProtocol>
	</system.webServer>
</configuration>
