@{ }

<div class="container bg-blue" style="border-radius: 20px;">
    <table>
        <thead>
        <tr style="text-decoration: underline;">
            <td>Product Photo</td>
            <td>Description</td>
            <td>Quantity</td>
            <td>Price</td>
            <td><a class="btn zesty-button">Edit Product</a></td>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>pic</td>
            <td>Cutie desc</td>
            <td>Quantity</td>
            <td>Price</td>
            <td><a class="btn btn-danger">Delete Product</a></td>
        </tr>
        </tbody>
    </table>
</div>