@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

    This page gives a summary of Aurora Bricks
*@
@{
    ViewData["Title"] = "About";
}
<div style="display:flex">
    <div class="img-container">
        <img src="~/images/Profile.png" alt="Profile image for Aurora" style="border-radius: 25px"/>
    </div>
    <div>
        <div class="bg-blue text-white content-text">
            <p class="fs-3" style="text-align: center; font-weight: bolder; ">About Aurora</p>
            <p class="fs-5">Aurora Brickwell is the entrepreneurial spirit behind "Aurora Bricks," a thriving e-commerce site dedicated to the world of LEGO. Starting from her childhood fascination with LEGO, Aurora transformed her hobby into a lucrative business. With a background in Business and Digital Marketing, she launched "Aurora Bricks" to fill a niche for a LEGO-focused online store that not only sells a vast array of LEGO sets but also fosters a community for fans. Launching from her garage, Aurora built "Aurora Bricks" into a beloved platform for LEGO enthusiasts worldwide. Her commitment shines through in the site's user-friendly interface, the curated selection of LEGO sets, and the personalized customer service.</p>
            <p class="fs-5">Under Aurora's guidance, "Aurora Bricks" has seen remarkable growth, serving a global customer base while maintaining its core mission of uniting LEGO lovers. Aurora Brickwell's journey from a LEGO enthusiast to the founder of "Aurora Bricks" illustrates the power of turning passion into a successful e-commerce venture. Aurora engages with her community through social media and her site's blog, offering building tips, sharing customer creations, and updating fans on the latest LEGO news.</p>
            <p class="fs-5">To explore the different LEGO sets that she has available, <a class="text-white" asp-area="" asp-controller="Home" asp-action="Products"> click here!</a></p>
        </div>

    </div>

</div>