@{
    Layout = "_AdminLayout";
}
@model IQueryable<Order>

<h1>OrderReview</h1>
<div class="col-12 align-content-center">
    <div class="row">
        @foreach (var o in Model)
        {
            <div class="col-6">
                <partial name="Components/OrderReview/Default" model="o"/>
                <br/>
            </div>
        }
    </div>
</div>