@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Accept Orders";
}

<div class="align-items-center text-center" style="margin-top: 300px; margin-bottom: 300px;">
    <h1>THIS ORDER HAS BEEN CORRECTED!</h1>
    <br/>
    <a class="btn zesty-button" asp-controller="Home" asp-action="AdminOrderReview">Back to Orders</a>
</div>