@{
    ViewData["Title"] = "Add/Edit User";
}
@model AspNetUser

<form method="post" asp-action="SaveUser">
    <div style="display: flex">
        <div style="flex-grow: 1">
            <h2>Edit User Info</h2>
        </div>
        <div style="flex-grow: 1; text-align: right; margin-right: 40px">
            <button class="zesty-button" type="Submit">Save User</button>
        </div>
    </div>
    <div class="bg-blue text-white content-text">
        <label class="fs-5" asp-for="Id">ID</label>
        <br />
        <input class="form-control input-box" type="text" required placeholder="1234-5678-97897" asp-for="Id" name="Id" readonly/>
        <br />
        <label class="fs-5" asp-for="Email">EMAIL</label>
        <br />
        <input class="form-control input-box" type="text" required placeholder="user@email.com" asp-for="Email" name="Email" />
        <br />
        <label class="fs-5">IS ADMIN</label>
        <br />
        <input type="checkbox" />
    </div>
    <div asp-validation-summary="All"></div>
</form>
