@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
    Confirm deleting a user
*@
@{
    ViewData["Title"] = "Delete User";
    Layout = "_AdminLayout";
}
@model AspNetUser

<div class="align-items-center text-center" style="margin-top: 300px;margin-bottom: 300px;">
    <h1>Are you sure that you want to delete user with ID "@Model.Id"?</h1>
    <br/>
    <form asp-action="AdminUserDelete" method="post">
        <input type="hidden" asp-for="Id"/>
        <span>
            <button class="btn zesty-button" style="width: 100px" type="submit">Confirm</button>
            <a class="btn zesty-button-red" style="width:100px" asp-controller="Home" asp-action="AdminAllUsers">Cancel</a>
        </span>
    </form>

</div>

