@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "All Products";
}
@model IQueryable<Product>

<h1>All Products</h1>
<div class="align-content-center">
    <span>
        <div>
            <span>
            <a class="btn zesty-button" asp-controller="Home" asp-action="AdminDashboard">Back Home</a>
            <a class="btn zesty-button float-end" asp-controller="Home" asp-action="AdminAddProduct">Add Product</a>
            </span>
        </div>
    </span>
    <br/>
    @* Generate a list of all products in the database for an admin to view and edit *@
    @foreach (var p in Model)
    {
        <partial name="Components/EditProduct/Default" model="p"/>
        <br/>
    }
</div>`