@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "All Users";
}
@model IQueryable<AspNetUser>

<h1>All Users</h1>
<div>
    <a class="btn zesty-button" asp-controller="Home" asp-action="AdminDashboard">Back Home</a>
</div>
<div class="align-content-center">
    @* Allow an admin to view the details for every created user *@
    @foreach (var u in Model)
    {
        <partial name="Components/EditUser/Default" model="u"/>
        <br/>
    }
</div>