@using LegosWithAurora.Models
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Home Page";
}
@* This is the homepage *@

@model IQueryable<Product> 

<div class="text-center">
    <h1 class="display-4 fw-bold">Welcome to Aurora Bricks!</h1>
    <img src="~/images/wide batman.jpg" width="100%" alt="Lego superheros charging forward to victory. Courtesy of Buzzfeed" style="border-radius: 15px;"/>
    <h2 class="display-6 fw-bold">Your journey to MASTER BUILDER begins here!</h2>
    <p class="fs-3">
        Pick from a wide variety of Lego sets to expand your mind and “master” your skills. We promise that you will be a master builder like Lego Batman sooner than you ever thought! We have sets from Star Wars to Air Canada. Whichever set you choose, be prepared for a world of fun!
    </p>
    <div class="row">
        @* if the user is logged in, and they have a purchase history, it will customize the recommendations. Otherwise, it will not  *@
    @if (SignInManager.IsSignedIn(User) && ViewBag.RecommendationsSigned != null)
    {
        @foreach (var p in ViewBag.RecommendationsSigned)
        {
            <div class="col-4">
                <partial name="LegoSetCard" model="p" />
            </div>
        }
    }
    else
    {
        @foreach (var p in ViewBag.Recommendations)
        {
            <div class="col-4">
                <partial name="LegoSetCard" model="p" />
            </div>
        }
    }
    </div>
    
</div>
