@using LegosWithAurora.Models
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "View Cart";
}
@model Cart

@* @if (Model.Cart is null)
{
    <p>It worked</p>
}
else
{
    <p>It worked</p>
} *@

This is a test

@ViewBag.Cart.CartLine