html {
  font-size: 14px;
  height:100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.bg-blue {
    background-color: #201d49;
}

.img-round {
    border-radius: 0.25rem;
}

.zesty-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FECD2C;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.fa-icon {
    vertical-align: bottom;
    line-height: 0.5; 
}