@{ }

@model IQueryable<string>

<option value="#" selected="selected">Select Product Category</option>
<option value="@Url.Action("Products", "Home", new {pageNum = "1"})">All Products</option>

@foreach (string cat in Model ?? Enumerable.Empty<string>())
{
    <option value="@Url.Action("Products", "Home", new{categories = cat, pageNum=1})">@cat</option>
}